<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.area.mapper.OsAreaMapper">

    <resultMap id="areaResultMap"
               type="com.example.demo.area.entity.OsArea">
        <result column="id" property="id"/>
    </resultMap>
    <select id="getAreaId" resultType="int">

        SELECT id FROM os_area WHERE (path LIKE '%1000002%');

    </select>

</mapper>
